<div class="grid grid-pad">
  <div class="col-1-2- hint">
    <h1>Hint: </h1>
    <a href="#" class="how-to">(how do I play?)</a>

    <div class="popover-wrapper">
      <div class="arrow"></div>
      <div class="arrow border"></div>
      <div class="popover">
        <p>
          Eliminate unlikely matches by clicking on their photo.<br/>
          You can ask for a new hint using the <strong>Next hint</strong> button.<br/>
          For bonus points, identify the friend in advance using the <span class="got-it">I got it!</span> button.<br/>
          If you have no clue about the target, the <span class="give-up">I give up!</span> is there waiting for you.</br>
          <strong>Have fun!</strong>
        </p>
      </div>
    </div>

    <p id="hint"><%= @game.next_hint %></p>

  </div>

</div>

<div class="actions">
    <a href="#" class="button blue size-maxi" id="next-hint" data-url="<%= next_hint_path %>" data-target="#hint">
      <span class="text">Next hint ☚</span>
    </a>

    <a href="#" class="button green size-maxi" id="i-got-it">
      <span class="text">I got it! ☺</span>
    </span>

    <a href="#" class="button red size-maxi" id="new-game">
      <span class="text">I give up ⚐</span>
    </a>
</div>

<div class="friends clearfix">
  <% @friends.each do |friend| %>
    <% if friend %>
      <%= render 'friend', id: friend['id'], name: friend['name'], pic: friend['pic']  %>
    <% else %>
      <%= render 'flipped' %>
    <% end %>
  <% end %>
</div>

<div id="profile-link" style="display:none">
  <a target='_blank' href="http://www.facebook.com/profile.php?id="></a>'s profile &rarr;
</div>

<div id="wrong-dialog" style="display:none">
  <span class="title" style="display:none">✖ NOO! Wrong guess! ✖</span>
  OH NOES! WRONG FRIEND!
</div>

<div id="win-dialog" style="display:none">
  <span class="title" style="display:none">✌ YES! You got it! ✌</span>
  Your score for this run is <strong class="score"></strong>.<br/>
</div>

<div id="lose-dialog" style="display:none">
  <span class="title" style="display:none">You lose - sorry!</span>

  <span class="no-points" style="display:none">
    You should try again - as you earned no points!<br/>
  </span>

  <span class="points" style="display:none">
    Anyway, you earned <strong class="score"></strong> points. Try again!
  </span>
</div>

<div id="abort-dialog" style="display:none">
  <span class="title" style="display:none">Are you sure?</span>
  Do you really want to abort this game?
</div>

<div id="another-try-dialog" style="display:none">
  <span class="title" style="display:none">Try again!</span>
  Give it another try.
</div>
