<div class="hint">
  <h1>Hint:</h1>
  <p id="hint"><%= @game.next_hint %></p>

  <a href="#" class="button blue size-medium" id="i-got-it">
    <span class="text">I got it!</span>
  </span>

  <a href="#" class="button blue size-medium" id="new-game">
    <span class="text">I give up</span>
  </a>

  <a href="#" class="button blue size-medium" id="next-hint" data-url="<%= next_hint_path %>">
    <span class="text">Next hint</span>
  </a>

</div>

<div class="friends">
  <% @friends.each do |friend| %>
    <% if friend %>
      <%= render 'friend', id: friend['id'], name: friend['name'], pic: friend['pic']  %>
    <% else %>
      <%= render 'flipped' %>
    <% end %>
  <% end %>
</div>
