<div class="hint">
  <h1>Hint:</h1>
  <p id="hint"><%= @game.next_hint %></p>

  <a href="#" class="button blue size-medium" id="i-got-it">
    <span class="text">I got it!</span>
  </span>

  <a href="#" class="button blue size-medium" id="new-game">
    <span class="text">I give up</span>
  </a>

  <a href="#" class="button blue size-medium" id="next-hint" data-url="<%= next_hint_path %>" data-target="#hint">
    <span class="text">Next hint</span>
  </a>
</div>

<p class="help">
  Eliminate unlikely matches by clicking on their photo.<br/>
  You can ask for a new hint using the <strong>Next hint</strong> button.<br/>
  For bonus points, identify the friend in advance using the <strong>I got it!</strong> button.<br/>

  <strong>Have fun!</strong>
</p>

<div class="friends clearfix">
  <% @friends.each do |friend| %>
    <% if friend %>
      <%= render 'friend', id: friend['id'], name: friend['name'], pic: friend['pic']  %>
    <% else %>
      <%= render 'flipped' %>
    <% end %>
  <% end %>
</div>

<div id="win-dialog" style="display:none">
  <span class="title" style="display:none">You win!</span>
  Your score for this run is <strong class="score"></strong>!
</div>

<div id="lose-dialog" style="display:none">
  <span class="title" style="display:none">You lost!</span>

  <span class="no-points" style="display:none">
    You should try again - as you earned no points!
  </span>

  <span class="points" style="display:none">
    Anyway, you earned <strong class="score"></strong> points. Try again!
  </span>
</div>
