<div class="friend" id="<%= id %>">
  <div class="front">
    <div class="image" style="background-image: url('<%= pic %>');"></div>
    <span title="<%= name %>"><%= name %></span>
  </div>
  <div class="back"></div>
</div>
