<div class="friend" id="<%= id %>">
  <div class="front">
    <div class="image" style="background-image: url('<%= pic %>');"></div>
    <div class="name">
      <span class="text" title="<%= name %>"><%= name %></span>
      <span class="icon"></span>
    </div>
  </div>
  <div class="back"></div>
</div>
