<div class="home">

  <div class="col-1-2">
    <h1>How well do you know your friends?</h1>
    <p>Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta
    gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient
    montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor
    fringilla.<p>
    <p>Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta
    gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient
    montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor
    fringilla.<p>
  </div>

  <div class="col-2-2">
    <img src="http://placehold.it/482x272" />
    <span class="caption">A caption</span>
  </div>

</div>

</div>
<% end %>
