<div class="home">

  <div class="col-1-2">
    <h1>How well do you know your Facebook friends?</h1>
    <p>
      Description
    </p>
  </div>

  <div class="col-2-2">
    <img src="http://placehold.it/482x272" />
    <span class="caption">A caption</span>
  </div>

</div>

</div>

