<div class="home">

  <% if current_user %>
    <div class="play">
      <%= link_to "#{current_user.name}, guess your friend!", "/play", class: "button" %>
    </div>
  <% end %>

  <div class="col-1-2">
    <h1>Can you guess who is this misterious friend?</h1>
    <p>We are ready to make a bet with you.</p>
    <p>We'll show you a random bunch of your facebook friends,</p>
    <p>and we'll give you some hints about one amongst them.</p>
    <p>After every hint we'll allow you to discard those that don't match.</p>
    <p>How many times will you able to guess the misterious friend?</p>
    <p>We bet you'll be surprised to know how many things you don't know about your friends!</p>
  </div>

  <div class="col-2-2">
    <img src="http://placehold.it/482x272" />
    <span class="caption">A caption</span>
  </div>

  <% if !current_user %>
    <div class="signup">
        <%= link_to login_path, id: "sign_in", class: "button blue size-maxi icon-facebook" do %>
          <span class="icon"></span>
          <span class="text">Sign in with Facebook</span>
        <% end %>
    </div>
  <% end %>

</div>

