<div class="play">
  <div class="friends">
      <div class="friend">
        <div class="front">
          <!-- front content -->
        </div>
        <div class="back">
          <!-- back content -->
        </div>
      </div>
  </div>
</div>
