$base-color: #0b2f87;
$background-color: #e4e9f7;
$highlight-color: #6588dc;
$dark-text-color: #071a46;
$light-text-color: #c7d4f5;
$content-white: #f6f7f9;
$content-gray: #c8cad1;
$white: #ffffff;
$red: #870b0b;
$dark-red: #540707;
$red-highlight: #ce5252;
$red-light-text: #fadada;
$green: #0b8711;
$dark-green: #07540b;
$green-highlight: #4ccd52;
$green-light-text: #cef5cf;

