/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require normalize.2.0.1
 *= require main
 *= require_tree .
 */

body {
  max-width: 1024px;
  margin: 0 auto;
  background-image: url('/assets/background.png');
  font-family: "Myriad Pro", "Helvetica", sans-serif;
}

.logo {
  display: block;
  width: 203px;
  height: 203px;
  margin: 10px auto;
  background-image: url('/assets/logo.png');
}

.social-share {
  width: 50%;
  float: left;

  .facebook-like, .tweet-count, .google-plus-count {
    float: left;
  }
}

