/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= depend_on _colors.scss
 *= require normalize.2.0.1
 *= require main
 *= require_tree .
 */

@import "colors.scss";

body {
  max-width: 1024px;
  margin: 0 auto;
  background-image: url('/assets/background.png');
  background-color: $background-color;
  font-family: "Myriad Pro", "Helvetica", sans-serif;
  color: $dark-text-color;
}

.logo {
  display: block;
  width: 203px;
  height: 203px;
  margin: 20px auto;
  background-image: url('/assets/logo.png');
}

.social-share {
  width: 50%;
  float: right;

  .facebook-like, .tweet-count, .google-plus-count {
    float: left;
  }
}

.support-pages {
	float: left;
}

.footer {
  clear: both;
  margin: 80px auto 40px;
  text-align: center;

  > p {
    margin: 5px 0;
    font-size: 14px;
  }
}

