@import "colors.scss";

.button {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  border-style: solid;
  text-align: center;
  text-decoration: none;

  > .icon {
    margin-right: 10px;
  }

  > .text, > .icon {
    vertical-align: middle;
    display: inline-block;
  }

  &::before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  &.blue {
    background-color: $base-color;
    border-color: $dark-text-color;
    box-shadow: $highlight-color 0 1px 0 0 inset;

    > .text {
      color: $light-text-color;
      text-shadow: $dark-text-color 0 2px 0;
    }
  }

  &.green {
    background-color: $green;
    border-color: $dark-green;
    box-shadow: $green-highlight 0 1px 0 0 inset;

    > .text {
      color: $green-light-text;
      text-shadow: $dark-green 0 2px 0;
    }

  }

  &.red {
    background-color: $red;
    border-color: $dark-red;
    box-shadow: $red-highlight 0 1px 0 0 inset;

    > .text {
      color: $red-light-text;
      text-shadow: $dark-red 0 2px 0;
    }
  }

  &.size-medium {
    border-width: 1px;
  }

  &.size-maxi {
    height: 95px;
    border-width: 2px;
    padding: 10px 20px;
    font-size: 40px;

    > .text {
      line-height: 80px;
    }
  }

  &.size-maxi.icon-facebook {

    > .icon {
      display: inline-block;
      width: 69px;
      height: 69px;
      margin-top: -7px;
      background-image: url('/assets/facebook_logo.png');
    }
  }
}

