[class*='col-'] {
  float: left;
}

*, *:after, *:before {
  box-sizing: border-box;
}

[class*='col-'] {
  padding-right: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-1-2, .col-2-2 {
  width: 50%;
}

.col-1-3, .col-2-3, .col-3-3 {
  width: 33.3%;
}

