.home {
  @extend .clearfix;
  clear: left;
  margin-top: 40px;
	color:#0b2f87;

  .play {
    margin: 40px auto;
    text-align: center;
  }

  .col-1-2 {
    > h1 {
      margin-top: 0;
			color:#0b2f87;
			font-size:30px;
			font-weight:bold;
			text-align:center;
    }
		> img {
			float:left;
		}
  }

  span.caption {
    text-align: center;
    display: block;
  }

  .signup {
    clear: left;
    margin-top: 40px auto 0;
    text-align: center;
  }
}

