@import "colors.scss";

.play {

  #stalk {
    width: 50%;
    margin: 40px auto;
    clear: left;

    > h2 {
      margin: 0;
      text-align: center;
    }

    > .spinner {
      width: 42px;
      height: 42px;
      margin: 0 auto;
      padding: 10px;
      background-color: $background-color;
      background-image: url('/assets/spinner.gif');
      background-position: 10px 10px;
      background-repeat: no-repeat;
    }
  }

  .hint {
    width: 50%;
    margin: 0;
    display: inline-block;
    clear: left;
    text-align: left;

    > h1 {
      font-size: 36px;
      margin: 0;
    }

    > p {
      margin: 10px 0;
      font-size: 22px;
      min-height: 80px;

      &.loading {
        opacity: 0.5;
      }
    }

  }

  .help {
    font-style: italic;
    display: inline-block;
    color: $dark-text-color;
  }

  .friends {
    margin-top: 40px;
    padding-left: 35px;
    perspective: 2000;

    > .friend {
      width: 150px;
      height: 180px;
      margin-top: 40px;
      margin-right: 10px;
      border-radius: 5px;
      float: left;
      position: relative;
      cursor: pointer;
      border: 1px solid #444;
      transform-style: preserve-3d;

      > .front, > .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 148px;
        height: 178px;
        overflow: hidden;
        border-radius: 5px;
        padding: 4px;
        backface-visibility: hidden;
      }

      > .front {
        z-index: 2;
        background-color: #fff;

        > .image {
          width: 140px;
          height: 170px;
          background-size: cover;
        }

        > .name {
          position: absolute;
          bottom: 4px;
          left: 4px;
          width: 140px;
          height: 30px;
          padding-top: 7px;
          background-color: rgba(0, 0, 0, 0.3);
          overflow: hidden;
          text-align: center;
          transition: 0.3s ease-out;

          > .text {
            color: #fff;
            text-shadow: #000 0 0 1px;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          > .icon {
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
        }

        &:hover {
          > .name {
            height: 170px;
            background-color: rgba(0, 0, 0, 0.7);
          }
        }
      }

      .back {
        transform: rotateY(180deg);
        background-color: $base-color;
        background-image: url('/assets/card-background.png');

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 75px;
          height: 76px;
          margin-top: -38px;
          margin-left: -37px;
          background-image: url('/assets/card-logo.png');
        }
      }

      &.flipped {
        transform: rotateX(180deg);
        cursor: auto;
      }

      &.flip-animation {
        animation: show 0.4s ease-out;
      }

      &.loading {
        opacity: 0.5;
        cursor: progress;
      }
    }
  }

  &.guessing > .friends > .friend > .front > .name > .icon {
    width: 94px;
    height: 92px;
    margin-top: (170px - 92px - 30px) / 2;
    background-image: url('/assets/card-guess-ok.png');
  }

  &.eliminating > .friends > .friend > .front > .name > .icon {
    width: 94px;
    height: 83px;
    margin-top: (170px - 83px - 30px) / 2;
    background-image: url('/assets/card-eliminate.png');
  }
}

@keyframes show {
  from {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0px) rotateX(180deg);
  }
}

