@import "colors.scss";

.play {

  .hint {
    width: 50%;
    margin: 0 auto;
    clear: left;
    text-align: left;

    > h1 {
      font-size: 36px;
      margin: 0;
    }

    > p {
      margin: 10px 0;
      font-size: 22px;
    }
  }

  .friends {
    margin-top: 40px;
    perspective: 2000;

    > .friend {
      width: 320px;
      height: 427px;
      transition: 0.6s;
      transform-style: preserve-3d;
      position: relative;

      > .front, > .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 320px;
        height: 427px;
        backface-visibility: hidden;
      }

      > .front {
        background: lightgreen;
        z-index: 2;
      }

      .back {
        transform: rotateY(180deg);
        background-color: red;
      }

      &:hover {
        transform: rotateY(180deg);
        /*animation: show 0.9s ease-out;*/
      }
    }
  }
}

@keyframes show {
  from {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0px) rotateX(180deg);
  }
}

