@import "colors.scss";

.play {

  .hint {
    width: 50%;
    margin: 0 auto;
    clear: left;
    text-align: left;

    > h1 {
      font-size: 36px;
      margin: 0;
    }

    > p {
      margin: 10px 0;
      font-size: 22px;
    }
  }

  .friends {
    margin-top: 40px;
    perspective: 2000;

    > .friend {
      width: 160px;
      height: 190px;
      float: left;
      margin-top: 40px;
      margin-right: 10px;
      border: 5px solid $dark-text-color;
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      position: relative;
      transform-style: preserve-3d;
      box-shadow: rgba(0,0,0,0.6) 0 5px 10px;

      &:nth-child(6n + 1) {
        clear: left;
      }

      > .card {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }

      > .front {
        z-index: -1;

        > img {
          min-width: 100%;
          min-height: 100%;
        }

        > span {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 30px;
          padding-top: 7px;
          background-color: rgba(0, 0, 0, 0.3);
          color: #fff;
          text-shadow: #000 0 0 1px;
          text-align: center;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .back {
        z-index: 1;
        transform: rotateY(180deg);
        background-color: red;
      }

      &.flipped {
        transform: rotateY(180deg);
        animation: show 0.9s ease-out;
      }
    }
  }
}

@keyframes show {
  from {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0px) rotateX(180deg);
  }
}

